<div class="add-quiz-btn-box">
  <button routerLink="/add-new-quiz" mat-raised-button color="primary">
    Add Quiz
  </button>
</div>

<section class="card-group">
  <div *ngFor="let quiz of quizzes">
    <div class="card">
      <img class="card-img" [src]="quiz.coverPicture" alt="Card image" />
      <div class="card-img-overlay">
        <div class="card-body">
          <h4 class="card-title">
            <b>{{ quiz.title }}</b>
          </h4>
          <div class="btn-group">
            <div class="example-button-container">
              <button
                (click)="onQuizDeleteBtnClick(quiz._id)"
                class="delete"
                mat-mini-fab
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <ul>
            <li>
              <b>Expiration Date :</b>
              {{ quiz.expirationDate | date: "dd/MM/yyyy" }}
            </li>
            <li><b>Maximum Points You Can Earn :</b> {{ quiz.maxPoint }}</li>
          </ul>
          <div class="quiz-btn-group">
            <button routerLink="/takequiz/{{ quiz._id }}" class="btn">
              Take Quiz
            </button>
            <button routerLink="/results/{{ quiz._id }}" class="btn">
              See Results
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
