<header>
  <nav>
    <div style="cursor: pointer" routerLink="myprofile/foryou">
      <h1>Quiz App</h1>
    </div>
    <div>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput type="text" [(ngModel)]="value" />
        <button
          routerLink="search"
          [queryParams]="{ searchBody: value }"
          *ngIf="value"
          matSuffix
          mat-icon-button
          aria-label="Search Bar"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </nav>
</header>
