h1 {
  text-align: center;
  margin-top: 50px;
}

h2 {
  text-align: center;
}

.container {
  margin-bottom: 50px;
  width: 100%;
  min-height: 400px;
  background-color: rgb(151, 151, 151);
  padding: 30px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

mat-divider {
  margin-bottom: 20px;
}

[type="file"] {
  color: #878787;
  margin-bottom: 20px;
}
[type="file"]::-webkit-file-upload-button {
  background: #ed1c1b;
  border: 2px solid #ed1c1b;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  padding: 10px 25px;
  text-transform: uppercase;
  transition: all 1s ease;
}

[type="file"]::-webkit-file-upload-button:hover {
  background: #fff;
  border: 2px solid #535353;
  color: #000;
}

.upload-pic-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.question-inps-box {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.add-new-btn {
  width: 100%;
  margin-bottom: 20px;
}

.const-warning {
  color: rgb(0, 0, 0);
  padding: 20px;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.5);
}

.first-group {
  display: flex;
  flex-direction: column;
}

@media (min-width: 650px) {
  .container {
    padding: 20px;
  }
  form {
    margin: 100px;
  }
}
